.content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 60vh;
    grid-gap: 20px;
    padding: 20px;
}

.content > .image{
    background-image: url(images/restaurant.jpg);
    background-size: cover;
    background-position: center;
    min-height: 35vh;
}

.text{
    position: relative;
    width: 100%;
    color: black;
    z-index: 2;
}
.text > h1{
    font-family: 'Bebas Neue';
    font-size: 69px;
    line-height: 65px;
    letter-spacing: 1.5px;
    width: 100%;
    text-decoration: underline solid;
    text-decoration-color: #FF7518;
    margin: 0px;
}
.text > p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.content2{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 40vh;
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}
.content2 > .image{
    background-image: url(images/table.jpg);
    background-size: cover;
    background-position: right;
    min-height: 35vh;
}

@media screen and (max-width: 624px) {
    .content{
        display: block;
        min-height: fit-content;
    }

    .content2{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
    
}